import React from 'react'
import * as S from './style.module.css';

const {{pascalCase name}} = () => {
  return (
    <div>
      <h1 className={ style.{{snakeCase name}} }>{{pascalCase name}}</h1>
    </div>
  )
}

export default {{pascalCase name}}
