.header_navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.header_navigation a,
.header_navigation button {
  background: #eee;
  border-radius: 0.2rem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  cursor: pointer;
}

.header_navigation a:hover,
.header_navigation button:hover,
.header_navigation a:focus,
.header_navigation button:focus {
  background: white;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
  outline: none;
}

.header_navigation a.active {
  background: white;
  box-shadow: 0 0 0 3px #fea;
  border-color: #fb1;
}

.header_navigation a.active svg > * {
  fill: #fb1;
}

.mobileMenu {
  background: #eee;
  border-radius: 0.2degrem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  cursor: pointer;
}

.mobileMenu::after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 2px;
  border-radius: 2px;
  background: currentColor;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  transition: 0.2s;
}

.mobileMenu:focus,
.mobileMenu:hover,
.mobileMenuActive {
  outline: none;
  background: white;
  box-shadow: 0 0 0 3px #fea;
  border-color: #fa1;
  color: #fa1;
}

.mobileMenuActive::after {
  transform: rotate(-90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
}

.header_mobile {
  display: block;
  position: absolute;
  top: 75px;
  right: 0px;
  padding: 0 1rem;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transform: translateX(-10px);
  opacity: 0;
  pointer-events: none;
}

.header_mobile a,
.header_mobile button {
  display: flex;
  align-items: center;
  background: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  padding: 0.5rem 0;
  cursor: pointer;
}

.header_mobile a:hover svg > *,
.header_mobile button:hover svg > * {
  fill: #fb1;
}

.header_mobile a:hover,
.header_mobile button:hover {
  color: #fb1;
}

.header_mobile button {
  border: none;
}

.header_mobile svg {
  margin-right: 0.5rem;
}

.header_mobileActive {
  transition: 0.3s;
  transform: initial;
  z-index: 100;
  opacity: 1;
  pointer-events: initial;
}
